<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
    <script src="https://kit.fontawesome.com/0d4230aee3.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid " align="center" style="color:white;" >
    <h1 style="margin-top: 90px;">Registeration form</h1>
    <form>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text">First name</label>
        <span class="input-group-text ms-5"><i class="fa-solid fa-user"></i></span>
        <input type="text" aria-label="First name" class="form-control" placeholder="First name" style="width: 200px;">

    </div>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text ">Last name</label>
        <span class="input-group-text ms-5 "><i class="fa-solid fa-user"></i></span>
        <input type="text" aria-label="First name" class="form-control" placeholder="Last name">

    </div>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text  ">Department/<br>Office</label>
        <span class="input-group-text ms-4"><i class="fa-solid fa-bars"></i></span>
                <select class="form-select">
                    <option>select Department OR Office</option>
                    <option>TCS</option>
                    <option>Infosys</option>
                    <option>Wipro</option>
                    <option>Infopark</option>

                </select>
    </div>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text">Username</label>
        <span class="input-group-text ms-5"><i class="fa-solid fa-user"></i></span>
        <input type="text" aria-label="First name" class="form-control" placeholder="username" style="width: 200px;">

    </div>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text">Password</label>
        <span class="input-group-text ms-5"><i class="fa-solid fa-user"></i></span>
        <input type="password" aria-label="First name" class="form-control" placeholder="password" style="width: 200px;">

    </div>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text">confirm<br>password</label>
        <span class="input-group-text ms-5"><i class="fa-solid fa-user"></i></span>
        <input type="password" aria-label="First name" class="form-control" placeholder="confirm password" style="width: 200px;">

    </div>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text">E-mail</label>
        <span class="input-group-text ms-5"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" aria-label="First name" class="form-control" placeholder="email address" style="width: 200px;">

    </div>
    <div class="input-group mt-4" style="width: 1000px;">
        <label class="input-text">Contacts</label>
        <span class="input-group-text ms-5"><i class="fa-solid fa-phone"></i></span>
        <input type="number" aria-label="First name" class="form-control" placeholder="(639)">

    </div><br>
    <button type="submit" class="btn btn-primary" style="margin-left: 100px;">submit</button>



      </form>
</div>
{% include 'footer.html' %}

</body>
</html>