<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <h1>About Us</h1>
 <p>A job portal, also known as a career portal, is a modern name for an online job board that helps applicants find jobs and aids employers in their quest to locate ideal candidates. Career websites, such as Monster, Indeed and SimplyHired, have job portals that offer a broad range of jobs in a vast number of fields. Some government agencies, nonprofit organizations, universities and private businesses have their own job portals that applicants can access on the organization's website.</p>
    <img src="https://th.bing.com/th/id/R.4ee831fea9048426d19d425fde573977?rik=%2bdrddi5HNE003A&riu=http%3a%2f%2foricaworld.com%2fimages%2fjob-bottom.jpg&ehk=e8wRhMczBNq3f7LYkqEfjjyxkSsHgjTlL7DbCXsmsx0%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1">
    <h3>Modern Job Boards</h3>
    <p>A job portal contains direct solicitations for employment. Websites that offer tips for finding a job or highlight career options, but don't list specific, current job openings, aren't job portals. Most job portals allow you to apply for jobs online immediately, or they provide links to do so. In some cases, a job portal might provide additional information, such as a company's website or a direct contact number for the human resources department.</p>
    <h3>Free Job Searches</h3>
    <p> A job portal doesn't guarantee that you'll get a job. It's simply a job application tool that allows you to apply for jobs and connect with potential employers. Research job portals carefully before you agree to pay fees to use their job-hunting and job-application services. There are many free job portals, including those on commercial websites and private-company sites, so there's no need to pay for services. However, some job-portal agencies charge employers to list their job openings.</p>
    {% include 'footer.html' %}

</div>

</body>
</html>