<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0d4230aee3.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="container-fluid " style="background-color: black;color:white">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h5>ABOUT &nbsp;<i class="fa-regular fa-address-card" ></i></h5>
                <p>
                    Contact Us<br>
                    About Us<br>
                    Careers<br>
                    Flipkart Stories<br>
                    Press<br>
                    Flipkart Wholesale<br>
                    Corporate Information</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <p>HELP &nbsp <i class="fa-brands fa-hire-a-helper"></i><br>
                    Payments<br>
                    Shipping<br>
                    Cancellation & Returns<br>
                    FAQ<br>
                    Report Infringement</p>
            </div>
             <div class="col-lg-2 col-md-4 col-sm-6">
                <p>POLICY &nbsp;<i class="fa-sharp fa-solid fa-clipboard"></i><br>
                    Return Policy<br>
                    Terms Of Use<br>
                Security<br>
                Privacy<br>
                Sitemap<br>
                EPR Compliance</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
           <p>SOCIAL &nbsp;<i class="fa-brands fa-square-facebook"></i><br>
            Facebook<br>
            Twitter<br>
            YouTube</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <p>Mail Us:&nbsp;<i class="fa-solid fa-envelope"></i><br>
                Flipkart Internet Private Limited,<br>

                Buildings Alyssa, Begonia &<br>

                Clove Embassy Tech Village,<br>

                Outer Ring Road, Devarabeesanahalli Village,<br>

                Bengaluru, 560103,<br>

                Karnataka, India</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <p>Registered Office Address:&nbsp;<i class="fa-regular fa-address-card" ></i><br>
                Flipkart Internet Private Limited,<br>

                Buildings Alyssa, Begonia &<br>

                Clove Embassy Tech Village,<br>

                Outer Ring Road, Devarabeesanahalli Village,<br>

                Bengaluru, 560103,<br>

                Karnataka, India<br>

                CIN : U51109KA2012PTC066107<br>

                Telephone: 044-45614700</p>
        </div>
       </div>

    </div>

</body>
</html>