<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="container">-->
<!--    {% for i in a %}-->
<!--    <div class="row">-->
<!--        <img src="{/static/{{i}}}">-->
<!--        <h4>{{i.fname}}</h4>-->
<!--        <h4>{{k}}</h4>-->
<!--        <img src="{/static/{{l}}}">-->
<!--     -->
<!--        <h4>{{m}}</h4>-->
<!--        <h4>{{n}}</h4>-->
<!--        <h4>{{o}}</h4>-->
<!--        <h4>{{p}}</h4>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--<div>-->
<!--    <form method="post">{% csrf_token %}-->
<!--    <input type="text" value="{{fname}}">-->
<!--    <input type="text" value="{{lname}}" >-->
<!--    <input type="email"  value=" {{eam}}">-->
<!--    </form>-->
    <div>
        {{fname}}
        {{lname}}
        {{eam}}
    </div>




</div>


</body>
</html>